ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 66, 233);
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  

  li a:hover {
        color: red;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

  #bar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  
  }

  #bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 1px;
    border: none;
    cursor: pointer;
    

  }